<%= render 'shared/book', :book => @book, :user => nil %>
<p>
<%= form_tag(book_path(@book.asin), :remote => :true, :method => :put) do %>
  <div class="clearfix">
    <div class="row">
      <div class="span5 columns">
        <%= label_tag 'start_date', 'Start Date' %>
        <div class="input">
          <%= text_field_tag 'start_date', format_date(@log.start_date), :class => 'medium' %>
        </div>
      </div>
      <div class="span5 columns">
        <%= label_tag 'finish_date', 'Finish Date' %>
        <div class="input">
          <%= text_field_tag 'finish_date', format_date(@log.finish_date), :class => 'medium' %>
        </div>
      </div>
      <div class="span5 columns">
        <div class="align-center">
          <%= submit_tag 'Update', :class => 'btn primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</p>
<p>
  <sub>Add the dates when you started your book, and when you finished it. If you only add the start date its fine, it means you are still reading it!</sub>
</p>
<p>
  <sub>You can type your in many ways, however its easier for you, like: Today, Yesterday, Last month, Thursday last week, 5 months before now, October 2006, Oct 06, etc. Go nuts!</sub>
</p>
