<!DOCTYPE html>
<html>
<head>
  <title>ReadingList</title>
  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Irish+Grover&v2' %>
  <%= stylesheet_link_tag 'public/stylesheets/bootstrap.css' %>

  <%= yield :head %>
</head>
<body>

    <div class="topbar-wrapper" style="z-index: 5;">
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <h3><a href="#">My Reading List</a></h3>
                    <ul>
                        <li class="active"><%= link_to 'Home', root_path %></li>
                        
                        <% if signed_in? %>
                        <li> <%= link_to 'Profile', user_path(current_user) %></li>
                        <li><%= link_to 'Latest users', users_path %></li>
                        <li><%= link_to 'Latest books', books_path %></li>
                        <li><%= link_to 'Search Books', new_book_path %></li>
                        <li><%= link_to 'Sign out', signout_path %></li>
                        
                        <% else %>
                        
                        <li><%= link_to 'Latest users', users_path %></li>
                        <li><%= link_to 'Latest books', books_path %></li>
                        <li><%= link_to 'Sign in with twitter!', '/auth/twitter' %></li>
                        
                        <% end %>
                    </ul>
                    <form action="">
                        <input type="text" placeholder="Search Books">
                        </form>
                    </div>
                </div><!-- /fill -->
            </div><!-- /topbar -->
        </div>

        <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
        <div id="error"><%= flash[:error] %></div>
        <% end %>

        <div id="content" class="container">
            <%= yield %>
        </div>
    </body>
</html>
