<!DOCTYPE html>
<html>
<head>
  <title>ReadingList</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div>
  [
  <% if signed_in? %>
    <%= link_to 'Profile', profile_path(current_user) %> |
    <a href="<%= new_book_path %>">Search books</a> |
    <a href=<%= signout_path %>>Sign out</a>
  <% else %>
    <a href="/auth/twitter">Sign in with twitter!</a>
  <% end %>
  ]
</div>

<%= yield %>

</body>
</html>
