<!DOCTYPE html>
<html>
<head>
  <title>Bookistics!</title>

  <%= javascript_include_tag :all %>
  <%= javascript_include_tag 'bootstrap/bootstrap-tabs.js' %>
  <%= javascript_include_tag 'bootstrap/bootstrap-twipsy.js' %>
  <%= javascript_include_tag 'bootstrap/bootstrap-popover.js' %>

  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= stylesheet_link_tag 'ui-darkness/jquery-ui-1.8.16.custom.css' %>
  <%= stylesheet_link_tag :all %>

  <%= yield :head %>
</head>
<body>

    <div class="topbar-wrapper" style="z-index: 5;">
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <h3><a href="/">Bookistics!</a></h3>
                    <ul>
                        <li><%= link_to 'Who has joined?',
                                        users_path,
                                        :rel => 'twipsy',
                                        :title => 'See a list of all the people that has joined us!' %></li>
                        <li><%= link_to 'Books people have added!',
                                        books_path,
                                        :rel => 'twipsy',
                                        :title => 'See a list of all the books other people has added!' %></li>
                    </ul>

                    <ul class="nav secondary-nav">
                        <% if signed_in? %>
                        <li><%= link_to 'My Profile', user_path(current_user) %></li>
                        <li><%= link_to 'Add Books',
                                        new_book_path,
                                        :rel => 'popover',
                                        :title => 'Add books to your list!',
                                        :'data-content' => 'This is the most important feature! You add books here to your own list!' %></li>
                        <li><%= link_to 'Sign out', signout_path %></li>
                        <% else %>
                        <li><a class="sign_twitter" href="/auth/twitter"></a></li>
                        <% end %>
                    </ul>

                    </div>
                </div><!-- /fill -->
            </div><!-- /topbar -->
        </div>

        <div id="content" class="container">
            <% if flash[:notice] %>
            <div class="alert-message info"><%= flash[:notice] %></div>
            <% end %>
            <% if flash[:error] %>
            <div class="alert-message error"><%= flash[:error] %></div>
            <% end %>

            <%= yield %>
        </div>
    </body>
</html>
